.App {
  text-align: center;
}

.main{
  /* background-image: url(845360.jpg); */
  background-color: black;
  /* Full height */
  height: fit-content; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
}
.progressbar{
  display: inline-flex;
  width: 300px;
  float: right;
  z-index: 150;
}
.bottombar{
  margin-top:60px;
  border: grey 1px solid;
  margin-right: 5px;
  height: 50px;
}
.linearprogress{
  color: aliceblue;
  width: 22%;
  display: inline-block;
  margin-left: 15px;
  margin-top: 8px;
}
.circularprogressbar{
  margin-left:30px;
}
.map{
  width:100%;
}
.data{
  width: 40%;
  z-index: 100;
  /* background-color: black; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
	height: 350px;
	width: 50%;
}

.map-one{
	border: 1px solid black;
	width: 47%;
	float: left;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
.map-two{
	border: 1px solid black;
	width: 47%;
	float: right;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
.map-three{
	border: 1px solid black;
	width: 96%;
	float: left;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
div#eleven {
    width: 70%;
    float: right;
}
.direction-container{
	max-height: 460px;
	overflow: auto;
}
.customClass{
  height: 40%;
  width: 800px;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.controls {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.map-grid {
  height: 100%;
  width: 100vw;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  position: relative;
  grid-gap: 3px;
}



label {
  display: block;
}

.tabledata{
  width: fit-content;
  display: flex;
}

.content{
  display: flex;
  margin-top: 15px;
}

.statistics{
  display: flex;
  color: white;
}
h5{
  color: white;
  margin-bottom: 0px;
  margin-top: 4 px;
}